
<h1>一覧</h1>
<!-- 検索 -->
<%= render 'search' %>

<h2>コンテンツ部分</h2>
<table>
  <tr>
    <th>作りたいもの</th>
    <th>内容</th>
    <th colspan="4"></th>
  </tr>

  <% @projects.each do |p| %>
    <tr>

      <td><%= p.create_title %></td>
      <td><%= p.content %></td>
      <!-- pv 出力 -->
      <td>pv: <%= p.impressionist_count %></td>
      <td><%= link_to '詳細', project_path(p) %></td>
      <td><%= link_to '編集', edit_project_path(p) %></td>
      <td><%= link_to '削除', project_path(p), method: :delete, data: { confirm: 'Are you sure?' }  %></td>
    </tr>
  <% end %>
</table>

<!-- ページネーション -->
<%= paginate @projects %>

<%= link_to '投稿する', new_project_path %>
